name: Events Demo 1
on: 
  pull_request:
    types: 
      - opened
    branches:
      - main  # main branch
      - 'dev-*' # dev-new or dev-this-is-new and kind of branches after dev
      - 'feat/**' # feat/new or feat/new/button any kind of branches
  workflow_dispatch:
  push:
    branches:
      - main  # main branch
      - 'dev-*' # dev-new or dev-this-is-new and kind of branches after dev
      - 'feat/**' # feat/new or feat/new/button any kind of branches 
      # developer-1
    paths-ignore:
      - '.github/workflows/*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{ toJSON(github.event) }}"
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
      - name: Build code
        run: npm run build
      - name: Deploy project
        run: echo "Deploying..."